<h1 data-th-text="${user.prenom +  ' ' + user.nom.toUpperCase()}"></h1>

<div>
	<p>Nom : </p>
	<p data-th-text="${user.nom}"></p>
</div>
<div>
	<p>Prénom : </p>
	<p data-th-text="${user.prenom}"></p>
</div>
<div>
	<p>Email : </p>
	<p data-th-text="${user.email}"></p>
</div>
<div>
	<p>Type : </p>
	<p data-th-text="${user.type}"></p>
</div>
<div>
	<p>Date d'inscription : </p>
	<p data-th-text="${user.dateInscription}"></p>
</div>
<div>
	<p>Date de désinscription : </p>
	<p data-th-text="${user.dateDesinscription}"></p>
</div>
