<h1>Admin utilisateur</h1>

<button>
	<a data-th-href="@{/admin/utilisateur/nouvel-utilisateur}">Nouvel utilisateur</a>
</button>

<table>
	<thead>
	<tr>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Email</th>
		<th>Type</th>
		<th>Date Inscription</th>
		<th>Date Désinscription</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Michaux</td>
		<td>Samuel</td>
		<td>samsam@sam.fr</td>
		<td>ADMIN</td>
		<td>24/08/2023</td>
		<td></td>
		<td>
			<p>infos</p>
			<p>éditer</p>
			<p>supprimer</p>
		</td>
	</tr>
	<tr data-th-each="user : ${users}">
		<td data-th-text="${user.nom}"></td>
		<td data-th-text="${user.prenom}"></td>
		<td data-th-text="${user.email}"></td>
		<td data-th-text="${user.type}"></td>
		<td data-th-text="${#temporals.format(user.dateInscription, 'dd/MM/yyyy HH:mm')}"></td>
		<td data-th-text="${#temporals.format(user.dateDesinscription, 'dd/MM/yyyy HH:mm')}"></td>
		<td>
			<a data-th-href="@{|/admin/utilisateur/detail/${user.id}|}">
				<img src="/images/detail.svg" alt="" height="48">
			</a>
			<a data-th-href="@{|/admin/utilisateur/edition/${user.id}|}">
				<img src="/images/pencil.svg" alt="" height="48">
			</a>
			<a data-th-href="@{|/admin/utilisateur/delete/${user.id}|}">
				<img src="/images/trash.svg" alt="" height="48">
			</a>
		</td>
	</tr>
	</tbody>
</table>
