<h1>Création d'un nouvel utilisateur</h1>

<form data-th-action="@{/admin/utilisateur/nouvel-utilisateur}"
      data-th-object="${user}"
      method="post">
	<div class="row">
		<label data-th-for="nom">Nom</label>
		<div>
			<input type="text" data-th-field="*{nom}">
		</div>
		<span data-th-if="${#fields.hasErrors('nom')}" data-th-errors="*{nom}"></span>
	</div>
	<div class="row">
		<label data-th-for="prenom">Prénom</label>
		<div>
			<input type="text" data-th-field="*{prenom}">
		</div>
		<span data-th-if="${#fields.hasErrors('prenom')}" data-th-errors="*{prenom}"></span>
	</div>
	<div class="row">
		<label data-th-for="email">Email</label>
		<div><input type="text" data-th-field="*{email}"></div>
	</div>
	<span data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"></span>
	<div class="row">
		<label data-th-for="mdp">Mot de passe</label>
		<div><input type="text" data-th-field="*{mdp}"></div>
		<span data-th-if="${#fields.hasErrors('mdp')}" data-th-errors="*{mdp}"></span>
	</div>
	<div class="row">
		<label data-th-for="verifMdp">Vérification Mot de passe</label>
		<div><input type="text" data-th-field="*{verifMdp}"></div>
		<span data-th-if="${#fields.hasErrors('verifMdp')}" data-th-errors="*{verifMdp}"></span>
	</div>
	<div class="row">
		<label data-th-for="type">Type</label>
		<div>
			<select data-th-field="*{type}">
				<option data-th-each="t : ${T(com.formation.blablatrip.enums.UtilisateurTypeEnum).values()}"
				        data-th-value="${t}" data-th-text="${t}"
				></option>
			</select>
		</div>
	</div>
	<div class="row">
		<button type="submit">Valider</button>
		<button type="reset">Effacer</button>
	</div>
</form>
