@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')

\:root
  --color-dark: #2F2D2E
  --color-blue: #5BC0EB
  --color-green: #C6EBBE
  --color-pink: #D72483
  --color-light: #F1ECCE


$width-header: 150px

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Poiret One', cursive
  background: transparent url("/images/bg.jpg") no-repeat fixed center center
  background-size: cover




a
  color: inherit
  text-decoration: none

header
  position: fixed
  left: 0
  top: 0
  bottom: 0
  width: $width-header
  color: var(--color-light)
  background: rgba( 255, 255, 255, 0.25 )
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
  backdrop-filter: blur( 10px )
  -webkit-backdrop-filter: blur( 10px )
  //border-radius: 10px
  border: 1px solid rgba( 255, 255, 255, 0.18 )

  h1
    font-size: 1.5rem
    padding: 20px 0
    text-align: center

  nav
    ul
      padding: 0
      li
        display: flex
        align-items: center
        font-size: 1.1rem


        &:hover
          text-decoration: underline
          background-color: var(--color-pink)

        a
          width: 100%
          display: block
          padding: 20px 10px


main
  color: var(--color-light)
  margin-left: calc($width-header + 10px)
  background: rgba( 255, 255, 255, 0.25 )
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
  backdrop-filter: blur( 10px )
  -webkit-backdrop-filter: blur( 10px )
  //border-radius: 10px
  border: 1px solid rgba( 255, 255, 255, 0.18 )
